.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: var(--max-width);
  margin: var(--headerHeight) auto 0;
  padding: 20px 15px 50px;

  h1 {
    font-size: 3rem;
    margin-top: 50px;
    font-weight: 300;

    span {
      font-weight: bold;
      color: var(--accent);
    }
  }

  h2 {
    margin-top: 10px;
    font-size: 1.5rem;
    margin-bottom: 40vh;
  }

  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    h3 {
      font-size: 1.75rem;
      font-weight: 600;
      margin-bottom: 25px;
      line-height: 34px;
    }

    p {
      line-height: 30px;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: -0.06px;
    }
  }
}
