.section {
    margin-bottom: 40px;

    h1 {
        font-size: 5rem;
        font-weight: bold;
        margin-bottom: 15px;

        @media screen and (max-width: 500px) {
            font-size: 3rem;
        }
    }

    .description {
        line-height: 25px;

        @media screen and (max-width: 500px) {
            line-height: 20px;
        }
    }

    .header {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        border-bottom: 1px solid var(--borderColor);
        margin-bottom: 15px;
        padding-bottom: 5px;

        h2 {
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: capitalize;
            margin-right: 15px;
        }

        p {
            font-size: 0.8rem;
        }

        @media screen and (max-width: 400px) {
            flex-direction: column;
            padding-bottom: 8px;

            h2 {
                margin-bottom: 5px;
                font-size: 1.25rem;
            }
        }
    }

    .card {
        margin-bottom: 30px;
        padding: 10px 5px;
        text-transform: capitalize;

        h3 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        p {
            &.status {
                color: var(--accent);
                text-transform: uppercase;
                font-weight: bold;
                font-size: 0.7rem;
            }
        }
    }
}
