.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1000px;
  margin: var(--headerHeight) auto 0;
  padding: 20px 15px 50px;

  .name {
    font-size: 2.5rem;
    margin-top: 50px;
    font-weight: 300;

    span {
      font-weight: bold;
      color: var(--accent);
    }
  }

  .headliner {
    margin-top: 10px;
    font-size: 1.2rem;
  }
}
