:root {
  --max-width: 1100px;
  --border-radius: 6px;
  --layout: #ffffff;
  --accent: #e7576d;
  --accentSecondary: #f4abba;
  --text: #333333;
  --headerHeight: 58px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --component: #333333;
    --backgroundAccent: #292929;
    --background: #1e1e1e;
    --layout: #181818;
    --text: #d4d4d4;
    --accent: #f4abba;
    --accentSecondary: #e7576d;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  line-height: 1;
  background-color: var(--background);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  color: var(--text);
}

header {
  width: 100vw;
  height: var(--headerHeight);
  background-color: var(--layout);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  border-bottom: 1px solid #e6e6e6;
  position: fixed;
  top: 0;
}

header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.2s;

  &:hover {
    color: var(--accent);
  }
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 250px;
}

header > nav > a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  transition: color 0.2s;
  color: var(--text);

  &:hover {
    color: var(--accent);
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1000px;
  margin: var(--headerHeight) auto 0;
  padding: 0 15px 50px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
