.header {
    width: 100vw;
    height: var(--headerHeight);
    background-color: var(--layout);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid var(--borderColor);
    position: fixed;
    top: 0;
    z-index: 1000;

    h1 {
        font-size: 1.5rem;
        font-weight: bold;
        transition: color 0.2s;

        &:hover {
            color: var(--accent);
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 220px;

        a {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.75rem;
            transition: color 0.2s;
            color: var(--text);

            &:hover {
                color: var(--accent);
            }
        }
    }

    @media screen and (max-width: 500px) {
        padding: 0 20px;
    }
}

.footerWrapper {
    width: 100%;
    display: flex;
    background-color: var(--layout);
    padding: 55px 15px 30px;

    footer {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &.footerTop {
                margin-bottom: 40px;

                .branding {
                    display: flex;
                    flex-direction: column;

                    .name {
                        font-weight: bold;
                        margin-bottom: 15px;
                        font-size: 1.3rem;
                        text-transform: capitalize;
                        cursor: pointer;
                    }

                    p {
                        cursor: default;
                        margin-bottom: 10px;
                    }
                }

                nav {
                    display: flex;

                    a {
                        margin-left: 15px;
                        text-transform: capitalize;
                    }
                }
            }

            &.legal {
                font-size: 0.8rem;
                cursor: default;

                span {
                    svg {
                        height: 25px;
                        width: 25px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 500px) {
        footer {
            div {
                &.footerTop {
                    flex-direction: column-reverse;

                    nav {
                        margin-bottom: 35px;
                        justify-content: space-around;
                    }
                }

                &.legal {
                    span {
                        margin-bottom: 15px;
                    }

                    flex-direction: column;
                }
            }
        }
    }
}
