.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  padding: 20px 15px 50px;
  margin: 0 auto;

  nav {
    position: sticky;
    top: 30px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 30px;

    a {
      align-self: flex-end;
      font-size: 2.5rem;
      margin-bottom: 15px;
      transition:
        color 0.2s,
        text-decoration-color 0.2s;
      text-decoration: underline;
      text-decoration-color: transparent;

      &:hover {
        color: var(--accent);
        text-decoration-color: var(--accent);
        -webkit-text-decoration-color: var(--accent);
        -moz-text-decoration-color: var(--accent);
      }
    }
  }

  .feed {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px 0 30px 40px;
  }

  @media screen and (max-width: 750px) {
    background-color: var(--backgroundColor);
    padding: 20px 10px 50px;

    nav {
      width: 60px;
      padding: 30px 0 0 0;

      a {
        align-self: center;

        span {
          display: none;
        }
      }
    }

    .feed {
      padding-top: 0px;
      padding-left: 20px;
    }
  }

  @media screen and (max-width: 500px) {
    nav {
      width: 35px;

      a {
        font-size: 2rem;
      }
    }

    .feed {
      padding-left: 10px;
    }
  }
}
